@import "_adaptiveFontMixin";
@import "_adaptiveValue";
@import "_variables";
@import "_templates";

body {
  font-size: 17px;
  font-family: "JetBrains Mono";

  color: white;
  background-color: #212121;
}
