@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

p {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

input::-ms-clear {
  display: none;
}

button {
  color: inherit;
  width: auto;
  height: auto;
  font-size: inherit;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  color: inherit;
  font-weight: 400;
  font-size: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-size: 17px;
  font-family: "JetBrains Mono";
  color: white;
  background-color: #212121;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stopwatch {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stopwatch__body {
  font-size: 80px;
  display: flex;
  gap: 10px;
  align-self: center;
}

.stopwatch__round-body {
  transition: ease 0.7s;
  display: flex;
  gap: 10px;
  align-self: center;
  font-size: 50px;
  color: #504f4f;
  opacity: 0;
}

.stopwatch-stash {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 135px;
  overflow: auto;
}
.stopwatch-stash::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.stopwatch-stash__item {
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 11px;
  animation: stash-item ease 0.5s;
}

@keyframes stash-item {
  0% {
    margin-bottom: -47px;
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    margin: 0;
    opacity: 1;
    transform: translate(0, 0);
  }
}
.stopwatch-stash__diff {
  transform: translate(10px, 0px);
  color: rgb(166, 166, 166);
}

.stopwatch__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.stopwatch__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.stopwatch__replay {
  filter: brightness(70%);
  background: url(images/replay.svg) center no-repeat, #333;
}
.stopwatch__replay.active {
  filter: brightness(100%);
}

.stopwatch__play {
  background: url(images/play.svg) center no-repeat, #423cfe;
}
.stopwatch__play.active {
  background: url(images/pause.svg) center no-repeat, #423cfe;
}

.stopwatch__round {
  filter: brightness(70%);
  background: url(images/round.svg) center no-repeat, #333;
}
.stopwatch__round.active {
  filter: brightness(100%);
}/*# sourceMappingURL=styles.css.map */